name: netease_voiceroomkit
description: A Flutter package for VoiceRoom.
version: 1.1.0
homepage: https://yunxin.163.com/

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  yunxin_alog: ^2.0.0

#  netease_roomkit:
#     git:
#       url: ssh://git@g.hz.netease.com:22222/yunxin-app/xkit-flutter.git
#       path: roomkit/roomkit
#       ref: sunkeding/release_meeting
  netease_roomkit: ^1.17.1
#  netease_roomkit:
#    path: ../../roomkit/roomkit

#  netease_roomkit_interface:
#    git:
#      url: ssh://git@g.hz.netease.com:22222/yunxin-app/xkit-flutter.git
#      path: roomkit/roomkit_platform_interface
#      ref: sunkeding/release_meeting
  netease_roomkit_interface: ^1.17.1
#  netease_roomkit_interface:
#    path: ../../roomkit/roomkit_platform_interface

#  netease_common:
#    git:
#      url: ssh://git@g.hz.netease.com:22222/yunxin-app/xkit-flutter.git
#      path: common/common
#      ref: sunkeding/release_meeting
  netease_common: ^1.0.0
#  netease_common:
#    path: ../../common/common

  dio: ^4.0.0
  uuid: ^3.0.6
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add Flutter specific assets to your application, add an assets section,
  # like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add Flutter specific custom fonts to your application, add a fonts
  # section here, in this "flutter" section. Each entry in this list should
  # have a "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages


  # This section identifies your Flutter project as a module meant for
  # embedding in a native host app.  These identifiers should _not_ ordinarily
  # be changed after generation - they are used to ensure that the tooling can
  # maintain consistency when adding or modifying assets and plugins.
  # They also do not have any bearing on your native host application's
  # identifiers, which may be completely independent or the same as these.
  module:
    androidX: true
    androidPackage: com.netease.voiceroomkit
    iosBundleIdentifier: com.netease.voiceroomkit
