<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netease.yunxin.kit.listentogether">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity android:name="com.netease.yunxin.app.listentogether.activity.ListenTogetherAnchorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name="com.netease.yunxin.app.listentogether.activity.ListenTogetherAudienceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <service
            android:name="com.netease.yunxin.app.listentogether.service.KeepAliveService"
            android:foregroundServiceType="mediaProjection"/>
    </application>

</manifest>