package {PACKAGE.PLACEHOLDER};

final class ServerEnvs {

    //
    // ENVs
    // DEFAULT Env.REL
    //

    static final ServerConfig.ServerEnv SERVER = ServerConfig.ServerEnv.{SERVER.PLACEHOLDER};

}

